/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rhodium+Libre&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rhodium+Libre&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rhodium Libre", serif;
    /* font-family: "Poppins", sans-serif; */
}

body {
    background: #00040f;
}

h1 {
    color: aliceblue;
}

.navbar {
    visibility: hidden;
}

.navbar.active {
    visibility: visible;
}

.nav-gradient {
    background: linear-gradient(123deg, #3b006c 0%, #4c11a4, #230b48 80%);
    border-start-start-radius: 35px;
}

.nav-gradient-2 {
    background: linear-gradient(45deg, #250043 -20%, #180c2c84, #2700367f 100%);
}

.cursive {
    font-family: cursive;
}


.text-gradient {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
            #ffc35d 0.89%,
            #ff6315 17.23%,
            #ffb753 42.04%,
            #ffa97e 55.12%,
            #ff6817 71.54%,
            #ff8c35 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.bg-blue-gradient {
    background: linear-gradient(157.81deg,
            #def9fa -43.27%,
            #bef3f5 -21.24%,
            #9dedf0 12.19%,
            #7de7eb 29.82%,
            #5ce1e6 51.94%,
            #33bbcf 90.29%);
}

.bg-black-gradient {
    background: linear-gradient(-150deg, #5600b957 0%, #000000 70%);
}

.bg-black-gradient-2 {
    background: linear-gradient(180deg, transparent 0%, #0000009d 50%);
}

.bg-gray-gradient {
    background: linear-gradient(153.47deg,
            rgba(255, 255, 255, 0) -341.94%,
            #14101d 95.11%);
}

.hero-gradient {
    background: linear-gradient(123deg, #df52ff 0%, #ff87d5 150%);
    box-shadow: 0 0 40px #df52ff;
    border-radius: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(280px, Auto);
    gap: 20px;
}

.box {
    background-color: #af5252;
}

.box-II {}

.box-III {}

.box-IV {}

.box-V {}

.full-height {
    grid-row: span 2;
}

/* Responsive adjustments */
@media (max-width: 608px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}