/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rhodium+Libre&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rhodium+Libre&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Rhodium Libre", serif; */
    /* font-family: "Poppins", sans-serif; */
}

body {
    background: #00040f;
}

h1 {
    color: aliceblue;
}

.navbar {
    visibility: hidden;
}

.navbar.active {
    visibility: visible;
}

.nav-gradient {
    background: linear-gradient(123deg, #3b006c 0%, #4c11a4, #230b48 80%);
    border-start-start-radius: 35px;
}

.cursive {
    font-family: cursive;
}


.text-gradient {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
            #ffc35d 0.89%,
            #ff6315 17.23%,
            #ffb753 42.04%,
            #ffa97e 55.12%,
            #ff6817 71.54%,
            #ff8c35 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.bg-blue-gradient {
    background: linear-gradient(157.81deg,
            #def9fa -43.27%,
            #bef3f5 -21.24%,
            #9dedf0 12.19%,
            #7de7eb 29.82%,
            #5ce1e6 51.94%,
            #33bbcf 90.29%);
}

.bg-black-gradient {
    background: linear-gradient(-150deg, #5600b957 0%, #000000 70%);
}

.bg-black-gradient-2 {
    background: linear-gradient(180deg, transparent 0%, #0000009d 50%);
}

.bg-gray-gradient {
    background: linear-gradient(153.47deg,
            rgba(255, 255, 255, 0) -341.94%,
            #14101d 95.11%);
}

.navmenu {
    -webkit-animation: slide-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.hero-gradient {
    background: linear-gradient(123deg, #df52ff 0%, #ff87d5 150%);
    box-shadow: 0 0 40px #df52ff;
    border-radius: 30px;
}